* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span{
  overflow: hidden;
}
a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

img {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  outline: none;
  background-color: none;
  border: none;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 90%;
  margin-top: 20px;
  margin: auto;
}

.container{
  margin-top: 10px !important;
}
.heading-title{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color: rgb(17, 133, 133);
}
.heading-title{
  background-color: #e4dada;
  cursor: pointer;
}